@import url('https://fonts.googleapis.com/css?family=Bad+Script|Raleway&display=swap');
.main-content {
    background: radial-gradient(#863567,#4654A1);
    height: 100vh;
    position: relative;
}
.main{
    max-width: 100%!important;
    padding: 0!important;
}
.cms-home .top_menu span {
    color: #fff;
}
.yogi {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 70px;
}
.ancient {
    float: left;
}
.science {
    float: right;
}
.ancient img,.science img {
    height: 120px;
}
.banner-side-text {
    font-family: 'open sans', 'lato', 'helvetica', sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
}
#owlslider{
    display: block!important;
}
.banner-slider-content .owl-dots {
    position: relative;
}
.owl-dots button{
box-shadow: none!important;
}
.banner-slider-content .owl-dots::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 270px;
    height: 2px;
    width: 94px;
    background: #fff;
}
.banner-slider-content .owl-dots::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 270px;
    height: 2px;
    width: 94px;
    background: #fff;
}
.banner-slider-content {
    width: 50%;
    bottom: 85px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
}
.banner-slider-content .owl-stage-outer {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
}
.banner-side-menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    z-index: 11;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .ancient_left,.science_right {
    padding-top: 100px;
    font-size: 16px;
}
.post {
    position: relative;
top: 0;
padding-top: 50px;
padding-bottom: 75px;
}
.post::after {
    content: "";
    position: absolute;
    width: 100px;
    border-bottom: 1px solid #000;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.post h1 {
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Bad Script', cursive;
    font-weight: 600;
    font-size: 25px;
    color: #a9a9a9;
}
.post_hover .image {
width: 100%!important;
height: 250px!important;
}

.post_hover .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .post_middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .post_hover:hover .image {
    opacity: 0.3;
  }
  
  .post_hover:hover .post_middle {
    opacity: 1;
  }
  
  .text {
    background-color: #ff9800;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .gate-way h1 {
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-weight: 900;
    font-size: 60px;
    color: #a9a9a9;
}
.gate-way-btn {
    text-align: center;
    padding-bottom: 100px;
}
.gate-way-btn input {
    font-family: 'Libre Baskerville', serif;
    background: transparent;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 100px;
    font-size: 13px;
}
.gate-way-btn input:hover {
    color: #fff;
    background: #000;
    transition: 1s all;
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media(max-width:769px){
    .yogi {
        width: 100%;
        top: 100px;
    }
    .banner-slider-content {
        top: 50%;
        bottom: 0;
    }
    .banner-slider-content {
        width: 100%;
        z-index: 0;
    }
    .banner-slider-content .item p {
        font-size: 17px;
    }
    .banner-side-menu {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .banner-slider-content .owl-dots::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 50px;
        height: 2px;
        width: 94px;
        background: #fff;
    }
    .banner-slider-content .owl-dots::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 50px;
        height: 2px;
        width: 94px;
        background: #fff;
    }
    .nav-toggle {
        display: none;
    }
    .top_menu {
        text-decoration: none;
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 0;
    }
    .ancient_left, .science_right {
        padding-top: 30px;
        font-size: 14px;
    }
    #mySidenav ul li {
        text-align: left;
    }
    .post-1,.post-2,.post-3 {
        padding-bottom: 20px;
    }
    .gate-way-btn input {
        padding: 8px;
        font-size: 12px;
    }
  }